/* Todo pozmianiac tutaj css bo kijowo to wszystko wyglada */
.singleNote {
    height: 100%;
    width: 100%;
}

.singleNote:hover {
    box-shadow: gray;
}

.notePage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.notesGrid {
    width: 100%;
}
