/* Todo pozmianiac tutaj css bo kijowo to wszystko wyglada */

.singleNote {
    height: 200px;
}

.singleNote:hover {
    box-shadow: gray;
}

.notePage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.noteGrid {
    width: 100%;
}
